.animation-frame {
    overflow: hidden;
}

.animation-slide {
    width: 100%;
    height: 100%;
}

.slide-display {
    position: relative;
    width: 100%;
    height: 100%;
    
    & > .current-slide, & > .next-slide {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .next-slide {
        pointer-events: none;
    }

    &[data-animation-type="slide"] {
        & > .current-slide {
            right: 0;
            top: 0;
        }

        &[data-animate] {
            & > .next-slide, & > .current-slide {
                transition: right 1.3s, top 1.3s;
            }
        }

        &[data-animation-direction="down"] {
            & > .next-slide {
                top: -100%;
            }

            &[data-transition] {
                & > .current-slide {
                    top: 100%;
                }
        
                & > .next-slide {
                    top: 0;
                }
            }
        }

        &[data-animation-direction="up"] {       
            & > .next-slide {
                top: 100%;
            }

            &[data-transition] {
                & > .current-slide {
                    top: -100%;
                }

                & > .next-slide {
                    top: 0;
                }
            }
        }

        &[data-animation-direction="left"] {
            & > .next-slide {
                right: -100%;
            }

            &[data-transition] {
                & > .current-slide {
                    right: 100%;
                }
        
                & > .next-slide {
                    right: 0;
                }
            }
        }

        &[data-animation-direction="right"] {       
            & > .next-slide {
                right: 100%;
            }

            &[data-transition] {
                & > .current-slide {
                    right: -100%;
                }

                & > .next-slide {
                    right: 0;
                }
            }
        }
    }

    &[data-animation-type="fade"] {
        & > .next-slide {
            z-index: 10;
            opacity: 0%;
        }

        &[data-animate] {
            & > .next-slide, & > .current-slide {
                transition: opacity 1.3s;
            }
        }

        &[data-transition] {
            & > .next-slide {
                opacity: 100%;
            }
        }
    }
}